---

- name: Download RKE2 installation script
  ansible.builtin.get_url:
    url: https://get.rke2.io
    dest: /tmp/rke2.sh

- name: Set the permissions for the file
  file:
    dest: /tmp/rke2.sh
    mode: 0700

- name: Populate service facts
  service_facts:

- name: Check RKE2 version
  ansible.builtin.command: |
    set -o pipefail
    rke2 --version | grep -E "rke2 version" | awk '{print $3}'
  args:
    executable: /bin/bash
  changed_when: false
  register: installed_rke2_version
  when: '"rke2-server.service" in ansible_facts.services'

- name: Run RKE2 script
  ansible.builtin.command:
    cmd: /tmp/rke2.sh
  environment:
    INSTALL_RKE2_VERSION: "{{ rke2_version }}"
    INSTALL_RKE2_CHANNEL_URL: "{{ rke2_channel_url }}"
    INSTALL_RKE2_CHANNEL: "{{ rke2_channel }}"
    INSTALL_RKE2_METHOD: "{{ rke2_method }}"
  when: (rke2_version != ( installed_rke2_version.stdout | default({})))
        or installed_rke2_version is not defined

- name: Copy Custom Manifests
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /var/lib/rancher/rke2/server/manifests/
    owner: root
    group: root
    mode: 0644
  with_items: "{{ rke2_custom_manifests }}"
  when: rke2_custom_manifests
