---

- name: Download RKE2 kubeconfig to localhost
  ansible.builtin.fetch:
    src: /etc/rancher/rke2/rke2.yaml
    dest: "{{ rke2_download_kubeconf_path }}/{{ rke2_download_kubeconf_file_name }}"
    flat: yes
  when:
  - rke2_download_kubeconf | bool
  - inventory_hostname == groups[rke2_servers_group_name].0

- name: Replace loopback IP by master server IP
  ansible.builtin.replace:
    path: "{{ rke2_download_kubeconf_path }}/{{ rke2_download_kubeconf_file_name }}"
    mode: '0600'
    regexp: '127.0.0.1'
    replace: "{{ rke2_api_ip | default(hostvars[groups[rke2_servers_group_name].0].ansible_host) }}"
  delegate_to: localhost
  become: false
  when:
  - rke2_download_kubeconf | bool

- name: Summary
  when: inventory_hostname == groups[rke2_servers_group_name].0
  block:
    - name: Prepare summary
      ansible.builtin.shell: |
        set -e
        {{ rke2_data_path }}/bin/kubectl --kubeconfig /etc/rancher/rke2/rke2.yaml get nodes -o wide --show-labels
      args:
        executable: /bin/bash
      changed_when: false
      retries: 5
      register: nodes_summary

    - name: K8s nodes state
      ansible.builtin.debug:
        var: nodes_summary.stdout_lines
