apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-ingress-nginx
  namespace: kube-system
spec:
  valuesContent: |-
{% if rke2_ingress_nginx_values | length > 0 %}
    {{ rke2_ingress_nginx_values | to_nice_yaml | indent(2) }}
{% endif %}
