apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-traefik
  namespace: kube-system
spec:
  valuesContent: |-
{% if rke2_traefik_values | length > 0 %}
    {{ rke2_traefik_values | to_nice_yaml(indent=2) | indent(4) }}
{% endif %}
